<% layout('/layouts/boilerplate') -%>


<div class="error-container text-center mt-3">
    <h1 class="mb-3">Oops! Page Not Found</h1>
    <div class="img-container">
        <img src="/assets/pagenotfound.svg" alt="Page Not Found" class="img-fluid" style="height: 200px;">
    </div>
</div>